<template>
<div>
  <div id="addUser">
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-form-group
        id="input-group-1"
        label="Email :"
        label-for="input-1">
    
        <b-form-input
          id="input-1"
          v-model="email"
          type="email"
          required
          placeholder="Email"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Nom :" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="nom"
          required
          placeholder="Nom"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="Prenom :" label-for="input-3">
       <b-form-input
          id="input-2"
          v-model="prenom"
          required
          placeholder="Prenom"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="Password :" label-for="input-3">
       <b-form-input
          id="input-2"
          v-model="password"
          required
          placeholder="Password"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="Login :" label-for="input-3">
       <b-form-input
          id="input-2"
          v-model="login"
          required
          placeholder="Login"
        ></b-form-input>
      </b-form-group>

      <b-button type="submit" class="btn-submit" variant="primary">Submit</b-button>
      <b-button type="reset"  class="btn-reset" variant="danger">Reset</b-button>
    </b-form>
  </div>
  </div>
</template>

<script>
import VueRouter from 'vue-router' 
  export default {
       name:'addUser',
    components:{
   
    },
    data() {
      return {
        show: true
        
      }
    },
    methods:{

      // Add one user
      onSubmit: () => {

      }
    }
  }
</script>

<style scoped>


</style>