<template>
  <div id="admin">
    <b-table striped hover  :items="items" :fields="fields" >
     <template slot="ajouter" slot-scope="row">
     <router-link to="/addUser#/">
        <b-button size="sm"  class="mr-2" variant="outline-primary">
          Ajouter
        </b-button>
        </router-link>
        </template>
         <template slot="editer" slot-scope="row">
         <router-link to="/editUser#/">
        <b-button size="sm"  class="mr-2" variant="outline-success">
          Supprimer
        </b-button>
          </router-link>
        </template>
      <template slot="supprimer" slot-scope="row">
        <b-button size="sm" @click="getUsers" class="mr-2" variant="outline-danger">
          Supprimer
        </b-button>
        </template>
    </b-table>
      
  <div class="mt-3">
        <p class="mt-3">Current Page: {{ currentPage }}</p>
      <b-pagination v-model="currentPage" :total-rows="rows" align="center"></b-pagination>
    </div>
  </div>
</template>
<script>
import VueRouter from 'vue-router'
import UserService from './User.services'

  export default {
       name:'admin',
    components:{
   
    },
    data() {
      return {
         users:[],
         user:[],
         updatedUser:[],
         fields: ['firstname', 'lastname', 'login','email','password','ajouter', 'editer','supprimer'],
        items: [
          { age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
          { age: 21, first_name: 'Larsen', last_name: 'Shaw' },
          { age: 89, first_name: 'Geneva', last_name: 'Wilson' },
          { age: 38, first_name: 'Jami', last_name: 'Carney' }
        ],
        perPage: 3,
        currentPage: 1,
      }
    },
    methods:{
      // Delete one user by its Id
      deleteUser: () => {

      },
       //  Get all users
      getUsers: () => {
      const userService = new UserService()
       return  userService.getUsers()
      
      },
      // get user by Id
    getUserById:() => {
      return this.user; 
    },

    // add new user
    addNewUser:() => {
    return  this.user;

    },

    // update new user
    updateUser: () => {
    return  this.updatedUser;
    },
   

  }
  }

</script>

<style scoped>
.table-page {
  margin-top:25px;

}

</style>