<template>
  <div id="userProfile">
    <b-table striped hover :items="items" :fields="fields">
     <template slot="csvFile" slot-scope="row">
      <router-link to="/researchFiles#/">
        <b-button size="sm"  variant="outline-primary" class="mr-2">
        Fichier csv
        </b-button>
        </router-link>
      </template>
      <template slot="graphs" slot-scope="row">
            <router-link to="/graphs#/">
        <b-button size="sm"  variant="outline-success"class="mr-2">
        Voir les graphiques
        </b-button>
        </router-link>
      </template>
    </b-table>
     <div class="mt-3">
        <p class="mt-3">Current Page: {{ currentPage }}</p>
      <b-pagination v-model="currentPage" :total-rows="rows" align="center"></b-pagination>
    </div>
  </div>
</template>
<script>

import VueRouter from 'vue-router' 
import UserService from './User.services'

export default {
  name: 'userProfile',
  components: {

  },
  data() {
      return {
        fields: ['firstname', 'lastname', 'login', 'password', 'csvFile', 'graphs',],
        items: [
          { age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
          { age: 21, first_name: 'Larsen', last_name: 'Shaw' },
          { age: 89, first_name: 'Geneva', last_name: 'Wilson' },
          { age: 38, first_name: 'Jami', last_name: 'Carney' }
        ],
        perPage: 3,
        currentPage: 1,
      }
    },
    methods:{
        
    }
}


</script>

<style scoped>

</style>