<template>
<div id="graphs">
  <b-card
    title="Card Title"
    img-src="https://picsum.photos/600/300/?image=25"
    img-alt="Image"
    img-top
    tag="article"
    style="max-width: 53rem; height:auto"
    class="mb-2 graph-card"
    v-for="graph in graphs">
     <div id="chart">
    </div>
    <b-button href="#" variant="primary" class="btn-update">Update graphs</b-button>
    <b-button href="#" variant="danger" class="btn-delete">Delete</b-button>
  </b-card>
</div>
</template>

<script>

import VueRouter from 'vue-router' 
import ApexCharts from 'apexcharts'
export default {
  name: 'graphs',
  components: {

  },
  data() {
      return {
        graphs: [
          'test1', 'test2','test1','test2'
        ],
}
  },
methods:{
  // This is use to update graph
  updateGraph:() => {

  }
    
},
     
}
</script>

<style scoped>

@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: Roboto, sans-serif;
}

#chart {
  max-width: 650px;
  margin: 35px auto;
}

.btn-update {
  margin-right:20px;
}
.btn-delete{
  width:150px;

}



</style>