<template>
<div id="file">
  <b-card
    title="Card Title"
    img-src="https://picsum.photos/600/300/?image=25"
    img-alt="Image"
    img-top
    tag="article"
    style="max-width: 60rem; height:auto"
    class="mb-2 file-card"
    v-for="file in files">
    <b-card-text>
      Some quick example text to build on the card title and make up the bulk of the card's content.
    </b-card-text>
  <b-tabs card>
    <b-tab title="Startime" active><p>I'm the first tab</p></b-tab>
    <b-tab title="EndTime"><p>I'm the second tab</p></b-tab>
    <b-tab title="Duration"><p>I'm a disabled tab!</p></b-tab>
  </b-tabs>
  </b-card>
</div>
</template>

<script>

import VueRouter from 'vue-router' 

export default {
  name: 'admin',
  components: {

  },
  data() {
      return {
        files: [
         '1' , '2', '3', '4'
        ]
      }
    },
    methods:{
        
    }
}

</script>

<style scoped>

.file-container {
  width: 1080px;
  height: 200px;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-direction: column-reverse;
}
.result {
  margin-top:30px;

}



</style>