<template>
<div id="appnavbar">
  
<div>
  <b-navbar type="dark" style="background-color:#D3D3D3">
  <router-link to="/login#/">
  <div class="user-img">
  <img class="logo" alt="logo">
  </div>
  </router-link>
 <b-navbar-nav class="ml-auto">
    <b-nav-item>
     <router-link to="/userProfile#/">
      <b-button variant="outline-dark">Login</b-button>
     </router-link>
    </b-nav-item>
 <b-nav-item>
      <router-link to="/admin#/">
   <b-button variant="outline-dark">Administrer</b-button>
        </router-link>
       </b-nav-item>
   </b-nav-item>
   <b-nav-item right>
   <router-link to="/login#/">
   <b-button variant="outline-dark" @click="">Déconnecter</b-button>
   </router-link>
       </b-nav-item>
   </b-nav-item>
     </b-navbar-nav>
  </b-navbar>
</div>
</div>
</template>

<script>
export default {
  name: 'appnavbar',
  components: {
   
  },
methods:{ 
   
    }
}

<script>

<style scoped>
.head-nav{
  background-color:#808080;
  height:40px;
  border:solid 1px;
}
.user-name {
    text-transform: uppercase;
}
.user-container {
 display:inline-block;

}


</style>