<template>

  <div id="app">
  <AppNavBar></AppNavBar>
     <router-view />
  </div>

</template>

<script>
import AppNavBar from './components/Features/AppNavBar.vue'
import VueRouter from 'vue-router'
import routes from './components/_router/routes.js'
import Admin from './components/Features/User/Admin.vue'
import Login from './components/Features/User/Login.vue'
import Graphs from './components/Features/Graphs/Graphs.vue'
import UserProfile from './components/Features/User/UserProfile.vue'
import ResearchFiles from './components/Features/Files/ResearchFiles.vue'
import AddUser from './components/Features/User/AddUser.vue'
import EditUser from './components/Features/User/EditUser.vue'
import Style from './style.css'

  export default {
    name: 'app',
    components: {
      AppNavBar,
      Admin,
      Login,
      Graphs,
      UserProfile,
      ResearchFiles,
      AddUser,
      EditUser
    }
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
</style>
