#addUser,
#editUser,
#file,
#login,
#admin,
#graphs,
#userProfile {
    width: 90%;
    margin: 80px;
}
.file-card {
    margin-right: 10px;
}
.graph-card {
    margin-right: 15px;
}
#graphs,
#file {
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
}
.btn-submit,
.btn-reset {
    width: 250px;
    margin-right: 15px;
    margin-top: 35px;
}